@page "/herolist"

@using MyHero.Controllers
@using MyHero.Data
@inject NotificationController Notification

<div class="container">

    <div class="row">
        @foreach (var hero in heroes)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://lakewangaryschool.sa.edu.au/wp-content/uploads/2017/11/placeholder-profile-sq.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@hero.User.UserName</a>
                        </h4>
                        <h5>@hero.Tags</h5>
                        <p class="card-text">@hero.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

@code {

    List<Hero> heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = new List<Hero>();
        heroes.Add(new Hero { 
            Description = "Description Test", 
            User = new ApplicationUser { 
                UserName = "Daniel Dantas", 
                Email = "danieldnds@gmail.com", 
            }, 
            Tags = "Batman/Spiderman"});

        heroes.Add(new Hero { 
            Description = "Another Test", 
            User = new ApplicationUser { 
                UserName = "Matthew Zent", 
                Email = "matthew@gmail.com" 
            }, 
            Tags = "Aquaman/Superman"});

        heroes.Add(new Hero { 
            Description = "Testing", 
            User = new ApplicationUser { 
                UserName = "Colton", 
                Email = "colton@gmail.com" 
            }, 
            Tags = "Flash"});

        heroes.Add(new Hero { 
            Description = "Testing 123", 
            User = new ApplicationUser { 
                UserName = "Jordan Nelson", 
                Email = "Jordan@gmail.com" 
            }, 
            Tags = "Ironman"});
    }

}
