@page "/HeroProfile/{Id}"

@using System.Security.Claims;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using MyHero.Data

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context

@using MyHero.Controllers

<AuthorizeView>
    <Authorized>
    @{ con = new HeroController(_context);
        hero = con.GetHeroById(Int32.Parse(Id));
        }
    <div class="container mt-4">
      <div class="row">
          <div class="col-8">

              <h1>Hi, I'm @hero.User.UserName </h1>

              <br />

              <h6>Member Since 2019</h6>

              <br />

              <p>
                  @hero.Description
              </p>

              <br/>

              <h4>Photos</h4>

              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm col-md-4 mb-4">
                          <img class="img-fluid rounded" src="/images/AdobeStock_272778029.jpeg" />
                      </div>
                      <div class="col-sm col-md-4 mb-4">
                          <img class="img-fluid rounded" src="/images/AdobeStock_272779911.jpeg" />
                      </div>
                      <div class="col-sm col-md-4 mb-4">
                          <img class="img-fluid rounded" src="/images/AdobeStock_272777429.jpeg"  />
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm col-md-4 mb-4">
                          <img class="img-fluid rounded" src="/images/AdobeStock_272778688.jpeg"  />
                      </div>
                      <div class="col-sm col-md-4 mb-4">
                          <img class="img-fluid rounded" src="/images/AdobeStock_272778292.jpeg"  />
                      </div>
                      <div class="col-sm col-md-4 mb-4">
                          <img class="img-fluid rounded" src="/images/AdobeStock_272779649.jpeg" />
                      </div>
                  </div>
              </div>
              <br />
          </div>
          <div class="col-4">
              <div class="container-fluid rounded bg-white mt-4">
                  <div class="row-fluid">
                      <div class="d-flex justify-content-center">
                    <img class="img-fluid rounded-circle m-4" src="/images/AdobeStock_272778029.jpeg" height="150px" width="150px" />
                      </div>
                  </div>
                  <div class="row-fluid">
                      <div class="d-flex justify-content-center">
                          <button type="button" class="btn btn-outline-primary btn-block">Request</button
                      </div>
                  </div>
                  <br />
                  <div class="row-fluid">
                      <div class="d-flex justify-content-center">
                          <button type="button" class="btn btn-outline-danger mb-4">Report</button
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </Authorized>
</AuthorizeView>

@functions {
    [Parameter]
    public string Id { get; set; }

    public HeroController con;

    public Hero hero;
}
