@page "/"

@using MyHero.Data
@using MyHero.Controllers
@inject ApplicationDbContext _context
           <div class="container">
               <img src="/featured/tk-hammonds-qJDkJRTedNw-unsplash.jpg" class="img-fluid m-4 rounded" alt="Responsive image">
           </div>
            <div class="container m-2 justify-content-md-center">
                <h1>Featured Heros:</h1>
            </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="/featured/casey-neistat-reveals-leaving-new-york-city-forever-youtube.jpg" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Casey Neistat</a>
                                </h4>
                                <div class="container-fluid">
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Influencer</button>
                                </div>
                                <div>
                                    <small class="text-muted">⭐⭐⭐⭐⭐</small>
                                </div> 
                            </div>
                            <div class="card-footer">                           
                                <div class="btn-group">
                                    <button class="btn btn-outline-primary">Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="/featured/Brad-Pitt-via-Getty.jpg" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Brad Pitt</a>
                                </h4>
                                <div class="container-fluid">
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Actor</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Attractive</button>
                                </div>
                                <div>
                                    <small class="text-muted">⭐⭐⭐⭐⭐</small>
                                </div> 
                            </div>
                            <div class="card-footer">                           
                                <div class="btn-group">
                                    <button class="btn btn-outline-primary">Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="/featured/Michael-Cera1-640x480.jpg" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Michael Cera</a>
                                </h4>
                                <div class="container-fluid">
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Actor</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Comedian</button>
                                </div>
                                <div>
                                    <small class="text-muted">⭐⭐⭐⭐⭐</small>
                                </div> 
                            </div>
                            <div class="card-footer">                           
                                <div class="btn-group">
                                    <button class="btn btn-outline-primary">Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="/featured/overview-Barack-Obama.jpg" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Barrack Obama</a>
                                </h4>
                                <div class="container-fluid">
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Ex-President</button>
                                </div>
                                <div>
                                    <small class="text-muted">⭐⭐⭐⭐⭐</small>
                                </div> 
                            </div>
                            <div class="card-footer">                           
                                <div class="btn-group">
                                    <button class="btn btn-outline-primary">Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="/featured/taylor-swift-1.jpg" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Taylor Swift</a>
                                </h4>
                                <div class="container-fluid">
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Singer</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Song Writer</button>
                                </div>
                                <div>
                                    <small class="text-muted">⭐⭐⭐⭐⭐</small>
                                </div> 
                            </div>
                            <div class="card-footer">                           
                                <div class="btn-group">
                                    <button class="btn btn-outline-primary">Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="/featured/14257685_10207515610635685_8690209213034739388_o.jpg" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Kendra Deziel</a>
                                </h4>
                                <div class="container-fluid">
                                    <button type="button" class="btn btn-outline-secondary btn-sm">Nerd</button>
                                </div>
                                <div>
                                    <small class="text-muted">⭐⭐⭐⭐</small>
                                </div> 
                            </div>
                            <div class="card-footer">                           
                                <div class="btn-group">
                                    <button class="btn btn-outline-primary">Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

@code {

}

