@page "/"

@using MyHero.Data
@inject ApplicationDbContext _context

<AuthorizeView>
    <Authorized>
        <h1>Hello, @test(context)!</h1>
        You can only see this if you're authenticated.
    </Authorized>
    <NotAuthorized>
        You're not logged in.
    </NotAuthorized>
</AuthorizeView>

@code {
    public string test (AuthenticationState _context) {
        return _context.User.Identity.Name;
    }
}

